.forgot-password-container {
    height: 100vh;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-form {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    max-height: 400px;
    width: 100%; /* Ensures form width is 100% of its container */
  }
  
  .forgot-password-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
  }
  
  .forgot-password-input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .forgot-password-input:focus {
    border-color: #fda085;
    outline: none;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #fda085;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-button:hover {
    background-color: #f6d365;
  }
  